<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="CharacterFeedEndpoint"
                address="net.p2p://7DCE6983-EA70-4a3e-B1F9-B119242D56B1/CharacterFeed"
                binding="netPeerTcpBinding"
                bindingConfiguration="PNRPBinding"
                contract="SEWilson.ScreenSaver.P2P.ICharacterFeed">
      </endpoint>
    </client>

    <!--services>
      <service name="SEWilson.ScreenSaver.P2P.PeerDiscoveryService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/7DCE6983-EA70-4a3e-B1F9-B119242D56B1/PeerDiscovery" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost/7DCE6983-EA70-4a3e-B1F9-B119242D56B1/PeerDiscovery"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding_Unsecure"
                  contract="System.ServiceModel.PeerResolvers.IPeerResolverContract" />
      </service>
    </services-->
    
    <bindings>
      <netPeerTcpBinding>
        <binding name="PNRPBinding" port="0">
          <resolver mode="Auto"/>
          <security mode="None" />
        </binding>
      </netPeerTcpBinding>
      <!--netPeerTcpBinding>
        <binding name="PeerDiscoveryServiceBinding" port="17593">
          <security mode="None" />
          <resolver mode="Custom">
            <custom address = "net.tcp://localhost/7DCE6983-EA70-4a3e-B1F9-B119242D56B1/PeerDiscovery"
                            binding="netTcpBinding"
                            bindingConfiguration="netTcpBinding_Unsecure" />
          </resolver>
        </binding>
      </netPeerTcpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_Unsecure">
          <security mode="None"/>
        </binding>
      </netTcpBinding-->
    </bindings>
  </system.serviceModel>
</configuration>
